name: Deploy to Vercel (qa)

on:
  push:
    branches:
      - qa 
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Vercel Deployment
        run: curl -X POST "https://api.vercel.com/v1/integrations/deploy/prj_JR3ZS05uE1rQTvk8HA63dRV3UcWv/TYz2A3MDA9"
